<div class="container w-25 border shadow mt-5">
  <h1 class="text-center text-primary"> New product</h1>
<%=simple_form_for [@store, @product] do |p| %>
<%= p.input :name %>
<%= p.input :price %>
<%= p.input :description %>
<%= p.input :photo, as: :file %>
<%= p.submit class: "w-100 btn btn-primary" %>
<% end %>
</div>
